@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

$ptMono: 'PT Mono', monospace;

$backgroundColor: #222222;
$bodyColor: #FFFFFF;
$bodyFont: $ptMono,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

a{
  color: $bodyColor;
}

a:hover {
  opacity: 0.6;
}

.no-bull {
  list-style-type: none;
}

.no-bull li {
  margin: 8px 0;
  padding-left: 2em;
  text-indent: -2em;
}

#post-meta {
  font-size: 0.8em;
}

#images-flex {
  display: flex;
  flex-flow: row wrap;
}

#images-flex img {
  max-width: 100%;
}

#photos-link {
  font-size: 0.8em;
}

#content {
  margin-top: 32px;
}

@media only screen and (max-width: 576px) {
  body {
    font-size: 0.8em;
  }

  #root {
    margin: auto;
    width: 90%;
    padding: 16px 5%;
  }
  
  
  #images-flex img {
    max-height: 400px;
    margin-right: 0px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  body {
    font-size: 1em;
  }

  #root {
    margin: auto;
    width: 70%;
    padding: 16px 15%;
  }
  
  
  #images-flex img {
    max-height: 400px;
    margin-right: 0px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  body {
    font-size: 1em;
  }

  #root {
    margin: auto;
    width: 80%;
    padding: 32px 10%;
  }
  
  
  #images-flex img {
    max-height: 400px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1281px) {
  body {
    font-size: 1.2em;
  }

  #root {
    margin: auto;
    width: 50%;
    padding: 32px 25%;
  }
  
  
  #images-flex img {
    max-height: 400px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

