<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {%- assign date_format = '%d %B %Y' -%}

    <div id="root">
      <div class="pageNavigation">
        {% if page.previous.url %}
          <a class="prev-post" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next-post" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>
      <!-- all blog posts have blog as the root category but do not show it on the page -->

      <h1>{{ page.title }}</h1>

      <div id="post-meta">
        <p>
          {{ page.categories | join: " // " | remove: "blog" | remove_first: " // " }}
        </p>

        <p>
          published {{ page.date | date: date_format }}
          {%- if page.last_modified_at -%}
          <br>updated {{ page.last_modified_at | date: date_format }}
          {%- endif -%}
        </p>
      </div>

      {% if page.photo_dates %}
        <div id="images-flex">
        {% for date in page.photo_dates %}
          {% assign photos_for_date = site.data.google-photos[date] %}
          {% for photo_url in site.data.google-photos[date] %}
          <a href="https://photos.app.goo.gl/jLH6uExbu9FGje9r8" target="_blank" rel="noopener noreferrer">
            <img src="{{ photo_url }}" onerror="this.style.display='none'" alt="" />
          </a>
          {% endfor %}
        {% endfor %}
        </div>
      {% endif %}
      <p id="photos-link">See all photos in <a href="https://photos.app.goo.gl/jLH6uExbu9FGje9r8" target="_blank" rel="noopener noreferrer">google photos</a>.


      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
